<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Habitats</h1>
    <h2> <a name="toc">Table of Contents</a></h2>
    <ul>
        {{#habitats}}
        <li>
            <span><a href="#{{name}}">{{name}}</a></span>
        </li>
        {{/habitats}}
    </ul>
    {{#habitats}}
    <hr />
    <h2><a name="{{name}}">{{name}}</a></h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>
                    <span>Appear</span>
                </th>
                <th>
                    <span>Pokemon</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#pokemon}}
            <tr>
                <td><span>{{row_index}}</span></td>
                <td>
                    <span>{{appear}}</span>
                </td>
                <td>
                    <a href="pokedex.html#{{pokemon}}" target="_blank"><span>{{pokemon}}</span></a>
                </td>
            </tr>
            {{/pokemon}}
        </tbody>
    </table>
    <p><a href="#toc">top</a></p>
    {{/habitats}}
</body>

</html>