<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <style>
        .tab {
            border: 1px solid black;
            cursor: pointer;
            background-color: white;
        }

        .tab.selected {
            background-color: #ddd;
        }

        .tab-content {
            display: none;
        }

        .tab-content.selected {
            display: block;
        }

        .tab-content tr:nth-child(4n)>*,
        .tab-content tr:nth-child(4n-1)>* {
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <div id="content">
        <h1>Items</h1>
        <div id="tabs">
            <table>
                <tr>
                    <td data-tab-content="machines" class="tab selected">Machines</td>
                    <td data-tab-content="key_items" class="tab">Key Items</td>
                    <td data-tab-content="held_items" class="tab">Held Items</td>
                    <td data-tab-content="consummables" class="tab">Consummables</td>
                    <td data-tab-content="balls" class="tab">Balls</td>
                </tr>
            </table>
        </div>
        <div id="machines" class="tab-content selected">
            <h2>Machines</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#machines}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{cost}}</td>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>{{effect}}</td>
                    </tr>
                    {{/machines}}
                </tbody>
            </table>
        </div>
        <div id="key_items" class="tab-content">
            <h2>Key Items</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#key_items}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{effect}}</td>
                    </tr>
                    {{/key_items}}
                </tbody>
            </table>
        </div>
        <div id="held_items" class="tab-content">
            <h2>Held Items</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#held_items}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{cost}}</td>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>{{effect}}</td>
                    </tr>
                    {{/held_items}}
                </tbody>
            </table>
        </div>
        <div id="consummables" class="tab-content">
            <h2>Consummables</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#consummables}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{cost}}</td>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>{{effect}}</td>
                    </tr>
                    {{/consummables}}
                </tbody>
            </table>
        </div>
        <div id="balls" class="tab-content">
            <h2>Balls</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#balls}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{cost}}</td>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>{{effect}}</td>
                    </tr>
                    {{/balls}}
                </tbody>
            </table>
        </div>
    </div>
    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <script>
        $(document).ready(() => {
            $(".tab").click((e) => {
                $(".tab,.tab-content").each((i, e) => {
                    $(e).removeClass("selected");
                });

                let id = e.target.attributes["data-tab-content"].value;

                $(e.target).addClass("selected");
                $("#" + id).addClass("selected");
                console.log("#" + id);
            });
        });
    </script>
</body>

</html>