<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Moves</h1>
    <h2> <a name="toc">Table of Contents</a></h2>
    <div class="toc_container">
        {{#moves}}
        <span class="toc_item"><a href="#{{name}}">{{name}}</a></span>
        {{/moves}}
    </div>
    {{#moves}}
    <hr />
    <h2><a name="{{name}}">{{name}}</a></h2>
    <p>{{description}}</p>
    <table>
        <tbody>
            <tr>
                <td><span>Element</span></td>
                <td><span>{{element}}</span></td>
            </tr>
            {{#power}}
            <tr>
                <td><span>Power</span></td>
                <td><span>{{power}}</span></td>
            </tr>
            {{/power}}
            {{#accuracy}}
            <tr>
                <td><span>Accuracy</span></td>
                <td><span>{{accuracy}}-20</span></td>
            </tr>
            {{/accuracy}}
            <tr>
                <td><span>PP</span></td>
                <td><span>{{pp}}</span></td>
            </tr>
            <tr>
                <td><span>Priority</span></td>
                <td><span>{{priority}}</span></td>
            </tr>
            <tr>
                <td><span>Target</span></td>
                <td><span>{{target}}</span></td>
            </tr>
            {{#dmg_type}}
            <tr>
                <td><span>Damage Type</span></td>
                <td><span>{{dmg_type}}</span></td>
            </tr>
            {{/dmg_type}}
        </tbody>
    </table>

    {{#effect}}

    <h3>Effect</h3>
    {{#effect_chance}}<p>Chance: {{effect_chance}}</p>{{/effect_chance}}
    <p>{{effect}}</p>
    {{/effect}}
    <p><a href="#toc">top</a></p>
    {{/moves}}
</body>

</html>