<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Moves</title>
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Moves</h1>
    <h2> <a name="toc">Table of Contents</a></h2>
    <div class="toc_container">
        {{#moves}}
        <span class="toc_item"><a href="#{{name}}">{{name}}</a></span>
        {{/moves}}
    </div>
    <hr />
    <table class="move">
        {{#moves}}
        <thead>
            <tr>
                <th>
                    <span>Move</span>
                </th>
                <th>
                    <span>Element(Type)</span>
                </th>
                <th>
                    <span>Power</span>
                </th>
                <th>
                    <span>Acc</span>
                </th>
                <th>
                    <span>PP</span>
                </th>
                <th>
                    <span>Priority</span>
                </th>
                <th>
                    <span>Target</span>
                </th>
                <th>
                    <span>Effect Chance</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a name="{{name}}"><span>{{name}}</span></a>
                </td>
                <td class="{{element}} element">
                    <span>{{element}}({{dmg_type}})</span>
                </td>
                <td class="{{^power}}empty{{/power}}">
                    {{#power}}<span>{{power}}</span>{{/power}}
                </td>
                <td class="{{^accuracy}}empty{{/accuracy}}">
                    {{#accuracy}}<span>{{accuracy}}-20</span>{{/accuracy}}
                </td>
                <td>
                    <span>{{pp}}</span>
                </td>
                <td>
                    <span>{{priority}}</span>
                </td>
                <td>
                    <span>{{target}}</span>
                </td>
                <td class="{{^effect_chance}}empty{{/effect_chance}}">
                    {{#effect_chance}}<span>{{effect_chance}}</span>{{/effect_chance}}
                </td>
            </tr>
            <tr>
                <td colspan="8" class="description">
                    <span>{{description}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="description">
                    <span> {{effect}}</span>
                </td>
            </tr>
        </tbody>
        {{/moves}}
    </table>
    <p><a href="#toc">top</a></p>

</body>

</html>