<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="assets/css/solid.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <title>Pokedex</title>
</head>

<body>
    <h1>Pokedex</h1>
    <hr />
    <label for="pokedex-filter"><i class="fas fa-filter"></i></label>
    <input id="pokedex-filter" data-filter="input" type="text" />
    <hr />
    <table data-tablesort="table">
        <thead>
            <tr>
                <th>
                    <span>ID</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>Name</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>Type 1</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>Type 2</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>Gender Rate</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>Capture Rate</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>Habitat</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>HP</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>ATK</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>DEF</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>SP ATK</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>SP DEF</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
                <th>
                    <span>SPD</span>
                    <br />
                    <button data-tablesort="desc">&#8595;</button>
                    <button data-tablesort="asc">&#8593;</button>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#pokedex}}
            <tr data-index="{{row_index}}" data-filter="item" data-tablesort="row">
                <td>{{id}}</td>
                <td><a href="pokemon-{{id}}.html" target="_blank">{{name}}</a></td>
                <td>{{type1}}</td>
                <td>{{type2}}</td>
                <td>{{gender_rate}}</td>
                <td>{{capture_rate}}</td>
                <td>{{habitat}}</td>
                <td>{{hp}}</td>
                <td>{{atk}}</td>
                <td>{{def}}</td>
                <td>{{sp_atk}}</td>
                <td>{{sp_def}}</td>
                <td>{{spd}}</td>
            </tr>
            {{/pokedex}}
        </tbody>
    </table>
    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="assets/js/filter.js"></script>
    <script src="assets/js/tablesort.js"></script>
    <script>
        $("document").ready(() => {
            app.filter.setup();
            app.tablesort.setup()
        });
    </script>

</html>