<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="assets/css/solid.min.css" rel="stylesheet">
    <title class="capitalize">{{name}}</title>
</head>

<body>
    <h1 class="capitalize">{{id}}: {{name}}</h1>
    <div class="pokedex-navigation">
        {{#prev_id}}
        <span class="capitalize">
            <a href="pokemon-{{prev_id}}.html">{{prev_id}}: {{prev_name}}</a>
        </span>
        {{/prev_id}}
        <span class="capitalize">
            {{id}}: {{name}}
        </span>
        {{#next_id}}
        <span class="capitalize">
            <a href="pokemon-{{next_id}}.html">{{next_id}}: {{next_name}}</a>
        </span>
        {{/next_id}}
    </div>
    <div class="stats">
        <table>
            <tbody>
                <tr>
                    <th>Type:</th>
                    <td>
                        <span class="element {{type1}}">{{type1}}</span>
                        {{#type2}}
                        <span class="element {{type2}}">{{type2}}</span>
                        {{/type2}}
                    </td>
                    <th>HP:</th>
                    <td>{{hp}}</td>
                </tr>
                <tr>
                    <th>Habitat:</th>
                    <td class="capitalize">{{habitat}}</td>
                    <th>Def:</th>
                    <td> {{roll_def}} </td>
                </tr>
                <tr>
                    <th>Capture:</th>
                    <td>{{capture_rate}}-20</td>
                    <th>Sp. Def:</th>
                    <td> {{roll_sp_def}} </td>

                </tr>
                <tr>
                    <th>Gender:</th>
                    <td>{{{gender_rate_male}}}</td>
                    <th>Spd:</th>
                    <td> {{roll_spd}} </td>
                </tr>
                <tr>
                    <th></th>
                    <td>{{{gender_rate_female}}}</td>
                    <th>Int:</th>
                    <td>{{int}} </td>
                </tr>
                <tr>
                    <th>Power:</th>
                    <td colspan="3">
                        <progress max="113" value="{{pwr}}">{{pwr}}</progress>
                        <span>{{pwr}} / 113</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <canvas class="stathex" width="200" height="200"></canvas>
    </div>
    <div class="moves">
        <h2>Moves</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Move</th>
                    <th>Element</th>
                    <th>Power</th>
                    <th>Accuracy</th>
                    <th>PP</th>
                    <th>Type</th>
                    <th>Target</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                {{#moves}}
                <tr>
                    <td>{{{method}}}{{level}}</td>
                    <td class="capitalize">{{move}}</td>
                    <td>
                        <span class="element {{element}}">{{element}}</span>
                    </td>
                    <td>
                        {{power}}
                        {{^power}}-{{/power}}
                    </td>
                    <td>
                        {{#accuracy}}{{accuracy}}-20{{/accuracy}}
                        {{^accuracy}}-{{/accuracy}}
                    </td>
                    <td>{{pp}}</td>
                    <td>
                        <span class="dmg-type {{dmg_type}}">{{dmg_type}}</span>
                    </td>
                    <td>{{target}}</td>
                    <td>{{priority}}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="8" class="description">
                        {{description}}
                    </td>
                </tr>
                {{/moves}}
            </tbody>
        </table>
    </div>

    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="assets/js/stathex.js"></script>
    <script>
        $("document").ready(() => {
            // parseInt used so the formatting validation is not thrown off by mustache
            app.stathex.setup([{
                "label": "HP",
                "value": parseInt("{{hp}}"),
                "max": 100
            }, {
                "label": "S. ATK",
                "value": parseInt("{{sp_atk}}"),
                "max": 385
            }, {
                "label": "S. DEF",
                "value": parseInt("{{sp_def}}"),
                "max": 230
            }, {
                "label": "SPD",
                "value": parseInt("{{spd}}"),
                "max": 160
            }, {
                "label": "DEF",
                "value": parseInt("{{def}}"),
                "max": 230
            }, {
                "label": "ATK",
                "value": parseInt("{{atk}}"),
                "max": 385
            }]);
        });
    </script>

</html>